* {
    font-family: 'Londrina Solid', sans-serif;
}

.banner-header {
    background-image: url('../assets/portada-index.jpeg');
}

.envio-header {
    background-color: #b95829;
    color: #ffffff;
    text-align: center;
}

.logo-header {
    width: 150px;
}

.logo-header img {
    width: 150%;

}

.logo-wishlist img {
    width: 30px;
   
}

.nav-header {
    color: #6e3700;
}

.nav-header a {
    color: #e67607;
}

.titulo {
    font-weight: 400;
    color: #38c4b2;
    text-align: center;
    font-family: 'Londrina Solid';
}

.sub-titulo {
    font-family: 'Londrina Solid';
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 10px;
}

.novedades img {
    width: 400px;
    height: 200px;
}

.novedades-item {
    text-align: justify;
    width: 400px;
    color: #000000;
    font-family: 'Londrina Solid';

}

.sub-titulo {
    color: #e67607;
}

.title-galeria {
    letter-spacing: 7px;
}

.fundas p {
    line-height: 36px;
}

footer {
    background-color: #fbefe5;
}

footer img {
    width: 50px;
}

.logo-footer {
    width: 100px;
}