/* Reset */
* {
    font-family: 'Londrina Solid', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header */
.envio-header {
    background-color: #b95829;
    color: #fbefe5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-header {
    max-width: 150px;
}

.logo-header img {
    width: 100%;
}

.nav-item {
    font-size: 20px;
}

/* Main */
.carousel-item {
    data-bs-interval: "100"
}

.banner img {
    display: flex;
    width: 100%;
    height: 400px;
}

.titulo {
    font-weight: 400;
    color: #38c4b2;
    text-align: center;
}

.sub-titulo {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 10px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    color: #e67607;
}

.novedades img {
    width: 400px;
    height: 200px;
    display: flex;
}

.novedades-item {
    justify-content: center;
    width: 550px;
    color: #000000;
    font-family: 'Londrina Solid';

}

.card-items {
    justify-content: center;
    display: flex;
    width: 100%;
}


.card-item {
    justify-content: center;
    display: flex;
    width: 100%;
}

.ver-tienda {
    display: flex;
    justify-content: center;
}

/* Aside */
.separadores {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: #fbefe5;
}

footer img {
    width: 50px;
}

.logo-footer {
    width: 100px;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    .logo-header {
        width: 120px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 960px) { 
    .logo-header {
        width: 150px;
    }
}